{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<div class="container mt-5">
    <!-- Header with search bar and buttons -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="input-group w-50">
            <input type="text" class="form-control" placeholder="Search...">
           
        </div>
        
        <div class="btn-group">
            <button type="button" class="create_btn" data-toggle="modal" data-target="#createServiceRoutesModal">
                <i class="fa fa-plus"></i>   Create New
            </button>
            <button type="button" class="filter_btnn">
                <i class="fa fa-arrow-down" style="opacity: 0.5;"></i>
  Export
            </button>
            <button type="button" class="filter_btnn" data-toggle="modal" data-target="#filterServiceRoutesModal">
                <i class="fa fa-filter"></i>  Filter
            </button>
        </div>
    </div>

    <!-- Table -->
    <table class="table table-hover">
        <thead >
            <tr>
                <th>Service load active</th>
                <th>service Qty</th>
                <th>Service load name</th>
                <th>Max Infants</th>
                <th>Max Children</th>
            </tr>
        </thead>
        <tbody>
            <tr data-toggle="modal" data-target="#editServiceRoutesCellModal" data-id="1" data-name="Serviceload A" data-active="True">
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>bb service load</td>
                <td>4</td>
                <td>6</td>
            </tr>
            <tr data-toggle="modal" data-target="#editServiceRoutesCellModal" data-id="2" data-name="Serviceload B" data-active="False">
                <td><input type="checkbox"   ></td>
                <td>7</td>
                <td>bb service load</td>
                <td>4</td>
                <td>6</td>
            </tr>
           
        </tbody>
    </table>

    <!-- Create Aircraft Type Modal -->


<div class="modal fade" id="createServiceRoutesModal" tabindex="-1" aria-labelledby="createServiceRoutesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createServiceRoutesModalLabel">Create Saved Routes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                       
                        <div class="row mb-3">
                            
                            <div class="col-md-10">
                                <div class="form-check">
                                    {{ form.active }}
                                    <label for="id_active" class="form-check-label">Active</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_name" class="col-md-2 col-form-label">Name</label>
                            <div class="col-md-4">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_fromdate" class="col-md-2 col-form-label">From</label>
                            <div class="col-md-4">
                                {{ form.fromdate }}
                            </div>
                            <label for="id_todate" class=" col-form-label">To</label>
                            <div class="col-md-4">
                                {{ form.todate }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_miles" class="col-md-2 col-form-label">Miles</label>
                            <div class="col-md-4">
                                {{ form.miles }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_hours" class="col-md-2 col-form-label">Hours</label>
                            <div class="col-md-4">
                                {{ form.hours }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_aircraft_type" class="col-md-2 col-form-label">Aircraft Type</label>
                            <div class="col-md-4">
                                {{ form.aircraft_type }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4 offset-md-2">
                                <button type="submit" class="save_btnn">Save Route</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




    <!-- Edit Cell Modal -->
    <div class="modal fade" id="editServiceRoutesCellModal" tabindex="-1" aria-labelledby="editServiceRoutesCellModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editServiceRoutesCellModalLabel">Edit Saved Routes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                           
                            <div class="row mb-3">
                                
                                <div class="col-md-10">
                                    <div class="form-check">
                                        {{ form.active }}
                                        <label for="id_active" class="form-check-label">Active</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="id_name" class="col-md-2 col-form-label">Name</label>
                                <div class="col-md-4">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="id_fromdate" class="col-md-2 col-form-label">From</label>
                                <div class="col-md-4">
                                    {{ form.fromdate }}
                                </div>
                                <label for="id_todate" class=" col-form-label">To</label>
                                <div class="col-md-4">
                                    {{ form.todate }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="id_miles" class="col-md-2 col-form-label">Miles</label>
                                <div class="col-md-4">
                                    {{ form.miles }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="id_hours" class="col-md-2 col-form-label">Hours</label>
                                <div class="col-md-4">
                                    {{ form.hours }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="id_aircraft_type" class="col-md-2 col-form-label">Aircraft Type</label>
                                <div class="col-md-4">
                                    {{ form.aircraft_type }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4 offset-md-2">
                                    <button type="submit" class="save_btnn">Save Route</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--filter-->
<div class="modal fade" id="filterServiceRoutesModal" tabindex="-1" aria-labelledby="ffilterServiceRoutesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">


                <h5 class="modal-title" id="filterServiceRoutesModalLabel">Filter Saved Routes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="filterAcAvailabilityForm" method="get" action="">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label for="filterActiveStatus1" class="col-form-label col-2">Active</label>
                    <div class="row ">
                       
                        <div class="col-6">
                            <select class="form-control form-control-sm" id="filterActiveStatus1" name="active_status1">
                                <option value="">equal</option>
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </div>
                        
                        <div class="col-6">
                            <select class="form-control form-control-sm" id="filterFromDateSort" name="sort_by2">
                                <option value="">All</option>
                                <option value="name_asc">Name (A-Z)</option>
                                <option value="name_desc">Name (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <label for="filterActiveStatus1" class="col-form-label col-4">Name</label>
                    <div class="row ">
                        
                        <div class="col-6">
                            <select class="form-control form-control-sm" id="filterFromDateSort" name="sort_by2">
                                <option value="">like</option>
                                <option value="name_asc">Name (A-Z)</option>
                                <option value="name_desc">Name (Z-A)</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control form-control-sm" name="name_filter">
                        </div>
                    </div>
                    <label for="filterActiveStatus1" class="col-form-label col-4">A/C Type</label>
                    <div class="row ">
                       
                        <div class="col-6">
                            <select class="form-control form-control-sm" id="filterFromDateSort" name="sort_by2">
                                <option value="">equal</option>
                                <option value="name_asc">Name (A-Z)</option>
                                <option value="name_desc">Name (Z-A)</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select class="form-control form-control-sm" id="filterFromDateSort" name="sort_by2">
                                <option value="">like</option>
                                <option value="name_asc">Name (A-Z)</option>
                                <option value="name_desc">Name (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <label for="filterActiveStatus1" class="col-form-label col-4">Miles</label>
                    <div class="row ">
                       
                        <div class="col-6">
                            <select class="form-control form-control-sm" id="filterFromDateSort" name="sort_by2">
                                <option value="">equal</option>
                                <option value="name_asc">Name (A-Z)</option>
                                <option value="name_desc">Name (Z-A)</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" id="filterMiles" name="miles" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <label for="filterActiveStatus1" class="col-form-label col-4">Hours</label>
                        <div class="row ">
                           
                            <div class="col-6">
                                <select class="form-control form-control-sm" id="filterFromDateSort" name="sort_by2">
                                    <option value="">equal</option>
                                    <option value="name_asc">Name (A-Z)</option>
                                    <option value="name_desc">Name (Z-A)</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <input type="text" id="filterMiles" name="miles" class="form-control form-control-sm">
                            </div>
                        </div>
                        <label for="filterSortBy1" class="col-form-label col-4"> From</label>
                    <div class="row ">
                       
                        <div class="col-6">
                            <select class="form-control form-control-sm" id="filterSortBy1" name="sort_by1">
                                <option value="">equal</option>
                                <option value="name_asc">Name (A-Z)</option>
                                <option value="name_desc">Name (Z-A)</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="date" id="filterFromDate" name="from_date" class="form-control form-control-sm">
                        </div>
                    </div>
                    <label for="filterSortBy1" class="col-form-label col-4">To</label>
                    <div class="row ">
                       
                        <div class="col-6">
                            <select class="form-control form-control-sm" id="filterSortBy1" name="sort_by1">
                                <option value="">equal</option>
                                <option value="name_asc">Name (A-Z)</option>
                                <option value="name_desc">Name (Z-A)</option>
                            </select>
                        </div>
                        <div class="col-6 ">
                            <input type="date" id="filterFromDate" name="from_date" class="form-control form-control-sm">
                        </div></div>
                    </div></div>
                    <div class="row">
                        <div class="col-md-8">
                            <h6>Filter Name:</h6>
                            <p>If you wish to save this filter, write the name of the filter here and click 'Save filter'</p>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" name="filter_name">
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="save_btnn mt-0">Save Filter</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <button type="reset" class="cl_btn ">Clear Filter</button>
                            <button type="submit" class="fil_btn">Quick Filter</button>
                        </div>
                    </div>
                </div>
            </form>
                
                
                
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
{% block script_block %}

<script>
    // JavaScript for handling modal interactions
    
    // Function to show or hide the service load details table
    $('#toggleServiceLoadDetails').on('click', function() {
        $('#serviceLoadDetailsTable').toggle();
        
        // Toggle icon based on table visibility
        var icon = $(this).find('i');
        if ($('#serviceLoadDetailsTable').is(':visible')) {
            icon.removeClass('fa-plus').addClass('fa-minus');
        } else {
            icon.removeClass('fa-minus').addClass('fa-plus');
        }
    });
    
    // Function to show the second modal and handle its save button
    function showAddCabinDetailsModal() {
        $('#addCabinDetailsModal').modal('show');
    }
    
    // Function to handle saving cabin details and returning to the first modal
    function saveCabinDetails() {
        // Retrieve values from the form
        const cabinType = document.getElementById('cabinType').value;
        const cabinQty = document.getElementById('cabinQty').value;
        const maxChildren = document.getElementById('maxChildren').value;
        const maxInfants = document.getElementById('maxInfants').value;
    
        // Add the details to the table in the first modal
        const table = document.getElementById('serviceLoadDetailsTable').getElementsByTagName('tbody')[0];
        const newRow = table.insertRow();
        newRow.innerHTML = `
            <td>${cabinType}</td>
            <td>${cabinQty}</td>
            <td>${maxChildren}</td>
            <td>${maxInfants}</td>
        `;
    
        // Hide the second modal
        $('#addCabinDetailsModal').modal('hide');
    
        // Show the first modal and scroll to it
        $('#createServiceLoadModal').modal('show');
        $('html, body').animate({
            scrollTop: $('#createServiceLoadModal').offset().top
        }, 500); // Adjust the scroll speed if needed
    }
    
    // Event listener for the "Save" button in the second modal
    document.getElementById('saveCabinDetails').addEventListener('click', saveCabinDetails);
    
    // Event listener for the "Save" button in the first modal
    document.getElementById('saveServiceLoad').addEventListener('click', function() {
        $('#createServiceLoadModal').modal('hide');
        showAddCabinDetailsModal();
        
        // Scroll to the second modal
        $('html, body').animate({
            scrollTop: $('#addCabinDetailsModal').offset().top
        }, 500); // Adjust the scroll speed if needed
    });
</script>
    
    
{% endblock %}



